<% if !@func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.nil? && @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.length > 0 %>
<table class="table">
    <thead>
      <tr>      
        <th>Rubro</th>
        <th>Monto</th>    
        <th>Acción</th>  
      </tr>
    </thead>
    <tbody>
      <% @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.each do |registro| %>
        <tr>        
          <td><%= registro.rubro %></td>
          <td><%= number_to_currency(registro.monto) %></td>    
          <td><%= link_to 'Eliminar', funcionamiento_sala_v2_registro_plan_de_gasto_de_funcionamiento_de_sala_path(@func_sala, registro), method: :delete,:remote => true, data: { confirm: '¿Estas seguro?' } %></td>      
        </tr>
      <% end %>
    </tbody>

    <tfoot>
        <tr>  
          <td>TOTAL</td>
          <td><%= number_to_currency(@func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.sum(:monto)) %></td> 
        </tr> 
    </tfoot>

  </table>
  <br>
<% end %>