#encoding: utf-8
<% provide(:title, 'Terminos y Condiciones') %>
<h1>Términos y Condiciones</h1></br>
<p>Declaro CONOCER y ACEPTAR en su totalidad los términos y condiciones de la <a href="../INT_PRESENTA_Convocatoria_Catalogo_2015.doc"> Reglamentación Convocatoria Especial INT Presenta 2015 </a>, la <%= link_to "Ley Nº 24.800", "http://www.infoleg.gov.ar/infolegInternet/anexos/40000-44999/42762/norma.htm", :target => "_blank" %>, y su <%= link_to "Decreto Reglamentario Nº 991/97", "http://www.infoleg.gov.ar/infolegInternet/anexos/45000-49999/46047/norma.htm", :target => "_blank" %>.
</br>Asimismo, se ceden los derechos de imagen a favor del INT para todo lo relacionado con la promoción y difusión del Programa “EL INT PRESENTA”, y se exime al INT y a todo organismo co-gestor  del Programa “EL INT PRESENTA” de cualquier responsabilidad derivada del plagio o de cualquier otra trasgresión de la legislación vigente vinculada al derecho de autor.</p></br>


<%= link_to "Acepto términos y condiciones",  edit_funcionamiento_sala_v2_path(@func_sala.id), method: :get, class: "btn btn-large btn-primary" %>