#encoding: utf-8
<% provide(:title, 'Solicitud de subsidio para funcionamiento de sala o espacio de teatro independiente V2') %>
<h1>Solicitud de subsidio para funcionamiento de sala o espacio de teatro independiente V2</h1>

<h3> Número de borrador: <%= @func_sala.id %> </h3>

<%= render 'form_preview_datos' %>

<%= link_to t('Volver'), root_path %>