#encoding: utf-8
<% provide(:title, 'Busqueda de integrante') %>
<h2>Buscar integrante del grupo</h2>

<div class="row">
  <div class="span6 offset3">
		<%= form_tag(buscar_persona_asist_tec_integrantes_asist_tec_path(@asist_tec), method: 'post')  do %>
			<p>Ingrese el numero de Cuil/Cuit de la persona que quiere buscar (sin guiones ni puntos)</p>
			<%= text_field_tag :numero_cuil_cuit %>
			</br>
			<%= submit_tag "Iniciar busqueda", class: "btn btn-large btn-medium" %>
		<% end %>
  </div>
</div>
</br>
</br>
<%= link_to t('Volver'), asist_tec_integrantes_asist_tec_path %>